.profile-photo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Creates a circular photo */
    object-fit: cover; /* Ensures the image is properly scaled */
  }

  .header-notifications-trigger a {
    cursor: pointer;
  }
  .cur{
    cursor: pointer; 
}