.keyword-input-buttonreds{
    background-color: red !important;
    color: red !important;
}

.required::after {
    content: "*" !important;
    color: red;
  }
  
.b{
    color: black;
}


.card {
    .card-header {
      position: relative;
      .note-buttons {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }