<div>
	<app-header></app-header>
</div>
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Register</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Register</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">
			<div class="login-frame">
				<div class="login-register-page">
					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3 style="font-size: 26px;">Let's create your account!</h3>
						<span>Already have an account? <a routerLink="/login">Log In!</a></span>
					</div>

					<!-- Account Type -->



					<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

						<ng-container formGroupName="roleGroup">
							<div class="account-type">
								<div>
									<input type="radio" value="consultor" name="role" formControlName="role"
										id="freelancer-radio" class="role" />
									<label for="freelancer-radio" class="ripple-effect-dark"><i
											class="icon-material-outline-account-circle"></i> Consultor</label>
								</div>

								<div>
									<input type="radio" name="role" value="entreprise" formControlName="role"
										id="employer-radio" class="role" />
									<label for="employer-radio" class="ripple-effect-dark"><i
											class="icon-material-outline-business-center"></i> Entreprise</label>
								</div>
							</div>
						</ng-container>


						<div class="input-with-icon-left">
							<i class="icon-material-baseline-mail-outline"></i>
							<input class="input-text with-border" name="emailaddress-register" type="email"
								class="form-control" formControlName="email" id="emailaddress-register"
								placeholder="Email Address" required />
						</div>

						<div  alert alert-danger *ngIf="email.invalid && (email.dirty || email.touched)">
							<div class="alert" alert alert-danger *ngIf="email.errors?.required">Email is required.</div>
							<div class="alert" *ngIf="email.errors?.email">Email must be a valid email address.</div>
						</div>

						<div class="input-with-icon-left">
							<i class="icon-material-outline-account-circle"></i>
							<input class="input-text with-border" name="emailaddress-register" type="text"
								class="form-control" formControlName="username" placeholder="User Name" required />
						</div>
					
						  
						  
						  

						<div class="input-with-icon-left" title="Should be at least 8 characters long"
							data-tippy-placement="bottom">
							<i class="icon-material-outline-lock"></i>
							<input type="password" class="input-text with-border" name="password-register"
								id="password-register" placeholder="Password" formControlName="password" required />
						</div>
						<div class="alert" *ngIf="registerForm.get('password').errors?.invalidPassword && (registerForm.get('password').dirty || registerForm.get('password').touched)">
							Password must be at least 8 characters long and include numbers.
						  </div>
						<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
							<i class="icon-material-outline-lock"></i>
							<input type="password" class="input-text with-border" name="password-confirm" id="password-confirm" placeholder="Confirm Password" formControlName="confirmPassword" required />
						  </div>
						  <div class="alert" *ngIf="registerForm.errors?.notMatching && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
							Passwords do not match.
						  </div>
						  
						
						  

						<!-- Button -->
						<div class="form-group">
							<button type="submit"
								class="button full-width button-sliding-icon ripple-effect margin-top-10">Register <i
									class="icon-material-outline-arrow-right-alt"></i></button>
						</div>

					</form>




					<!-- Social Login -->
					<div class="social-login-separator"><span>or</span></div>
					<div class="social-login-buttons">
						<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via
							Facebook</button>
						<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via
							Google+</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-top-70"></div>
<app-footer></app-footer>