<p-toast position="top-center"></p-toast>
<div>
  <app-header></app-header>
</div>

<div class="margin-top-70"></div>
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Request for Reset Password</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Request for Reset Password</li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">

    <div class="col-xl-5 offset-xl-3">
      <div class="login-frame">
        <form (ngSubmit)="onSubmit()">
          <label for="emailOrUsername"> <b>Email or Username:</b></label>
          <input [(ngModel)]="emailOrUsername" id="emailOrUsername" placeholder="Email Or User Name" name="emailOrUsername" required />
          <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit"
            form="login-form">Send <i class="icon-material-outline-arrow-right-alt"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
<app-footer></app-footer>