	<!-- Dashboard Headline -->
    <div class="dashboard-headline">
        <h3>Howdy, Tom!</h3>
        <span>We are glad to see you again!</span>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
            <ul>
                <li><a href="#">Home</a></li>
                <li>Dashboard</li>
            </ul>
        </nav>
    </div>
    <div><app-professional-data></app-professional-data></div>
    
    <div class="mt-5 pt-5"><br></div>

    <div >
            <app-trainings-qualifications></app-trainings-qualifications>
    </div>
    <div class="mt-5 pt-5"><br></div>
    <div>
        <app-language></app-language>
    </div>
   