<!-- Dashboard Headline -->
<div class="dashboard-headline">
    <h3>{{this.authService.LoggedUserName}}</h3>
    <span>We are glad to see you again!</span>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
        <ul>
            <li><a href="#">Home</a></li>
            <li>Dashboard</li>
        </ul>
    </nav>
</div>



<div>
    <app-personal-data></app-personal-data>
</div>
<div class="mt-4 pt-4"><br></div>
<div>
    <app-professional-data></app-professional-data>
</div>

<div class="mt-4 pt-4"><br></div>

<div>
    <app-trainings-qualifications></app-trainings-qualifications>
</div>
<div class="mt-4 pt-4"><br></div>
<div>
    <app-language></app-language>
</div>


<app-dashboard-consultor-footer></app-dashboard-consultor-footer>