<!-- Featured Jobs -->
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75" >
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				
				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-35">
					<h3>Featured Jobs</h3>
					<a href="jobs-list-layout-full-page-map.html" class="headline-link">Browse All Jobs</a>
				</div>
				
				<!-- Jobs Container -->
				<div class="listings-container compact-list-layout margin-top-35">
					
					<!-- Job Listing -->
			<div *ngFor="let offer of offers">
				<a  *ngIf="offer.isAccepted" class="job-listing with-apply-button">

					<!-- Job Listing Details -->
					<div class="job-listing-details">

						<!-- Logo -->
						<div *ngIf="entrepriseData[offer.IdUser]" class="job-listing-company-logo">
							<img  [src]="('data:image/png;base64,' + entrepriseData[offer.IdUser].image.data)" alt="" />
						  </div>
						  
						  

						<!-- Details -->
						<div class="job-listing-description">
							<h3 class="job-listing-title">{{ offer.titleO }}</h3>

							<!-- Job Listing Footer -->
							<div class="job-listing-footer">
								<ul>
									<li *ngIf="entrepriseData1[offer.IdUser]"><i class="icon-material-outline-business"></i>  {{ entrepriseData1[offer.IdUser].nameE }}</li>

									<li><i class="icon-material-outline-location-on"></i> {{ offer.Address }},&nbsp;{{ offer.Region }},&nbsp;{{ offer.City }}</li>
									<li><i class="icon-material-outline-business-center"></i> {{ offer.TypesOfPositions.join(', ') }}</li>
									<li><i class="icon-material-outline-access-time"></i> {{ timeAgo(offer.date) }}</li>

								</ul>
							</div>
						</div>

						<!-- Apply Button -->
						<span class="list-apply-button ripple-effect">Apply Now</span>
					</div>
				</a>	
			</div>
				</div>
				<!-- Jobs Container / End -->
				<!-- Paginator -->
                <!-- <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
			</div>
		</div>
	</div>
</div>
<!-- Featured Jobs / End -->
