<p-toast position="top-center"></p-toast>

<div>
    <app-header></app-header>
</div>
<div class="clearfix"></div>
<!-- Titlebar
  ================================================== -->
<div id="titlebar" class="gradient">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">

                <h2>Log In</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Log In</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-xl-5 offset-xl-3">
            <div class="login-frame">

                <div class="login-register-page">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>We're glad to see you again!</h3>
                        <span>Don't have an account? <a routerLink="/register">Sign Up!</a></span>
                    </div>

                    <!-- reset-password.component.html -->

                    <form (ngSubmit)="onSubmit()">
                        <label for="username">Username:</label>
                        <input [(ngModel)]="username" id="username" name="username" required />
                        <label for="newPassword">New Password:</label>
                        <input [(ngModel)]="newPassword" id="newPassword" name="newPassword" type="password" required />
                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit"
                        form="login-form">Reset Password <i class="icon-material-outline-arrow-right-alt"></i></button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
<app-footer></app-footer>