<div class="reset-password-card surface-card p-4 shadow-2 border-round mt-5">
    <div class="text-2xl font-medium text-900 mb-3">Reset Password</div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="UserName or Email" formControlName="username" pInputText
              [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('username')}" />
            <div *ngIf="isFieldInvalid('username')" class="p-error"><span>
                username is required.</span></div>
        </div>
        <div class="col-md-4">
          <label for="password">New Password</label>
          <p-password id="password" placeholder="New Password" formControlName="password" [style]="{'minWidth':'100%'}">
            <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
            
              <p class="mt-2">Suggestions</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
        </div>
        <div class="col-md-4">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword" />
            <small
              *ngIf="userForm.get('confirmPassword')!.hasError('required') && userForm.get('confirmPassword')!.touched"
              class="p-error">
              Confirm Password is required.
            </small>
            <small *ngIf="userForm.hasError('passwordMismatch') && userForm.get('confirmPassword')!.touched"
              class="p-error">
              Passwords do not match.
            </small>
        </div>


      



      </div>
      <div class="row mt-4 justify-content-end">
        <div class="col">
          <button type="submit"  class="btn btn-primary align-right" [disabled]="!userForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
