<!-- Row -->
<p-toast></p-toast>
<div class="row">
    <!-- Dashboard Box -->
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">
            <!-- Headline -->
            <div class="headline ">
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <!-- <a title="add" data-tippy-placement="top"><i class="icon-feather-plus"></i></a> -->
                        <h2><i></i><b>Professional Experience</b></h2>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button pButton pRipple type="button"
                            class=" p-button-rounded p-button-info p-button-outlined icon-line-awesome-plus"
                            (click)="showModalDialog()"> </button>
                    </div>
                </div>


                <div class="content padding-bottom-0">
                    <div *ngIf="!(proexperience?.length ?? 0); else show">
                        <div class="card">
                            <div class="card-body mt-1">
                                <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                            </div>
                        </div>
                    </div>
                  <ng-template #show>
                        <div *ngFor="let item of proexperience">

                
                            <div class="card-body">
                      
                                <div class="card ">
                                    <div class="card-header padding-bottom-0 ">
                                        <div class="note-buttons">
                                            <button class="delete-button" title="Remove" (click)="confirmDelete(item)" data-tippy-placement="top">
                                              <i class="icon-feather-trash-2"></i>
                                            </button>
                                          
                                            <button class="edit-button" title="Edit" (click)="openModalForUpdate(item)" data-tippy-placement="top">
                                              <i class="icon-feather-edit"></i>
                                            </button>
                                          </div>
                                    </div>

                                    <h3 class="card-title">{{item.JobTitle}} | {{item.JobType}}</h3>
                                    <h4 class="icon-material-outline-access-alarm">{{ item.Period }}&nbsp;<i
                                            class="icon-material-outline-access-time"></i>{{item.Period| date:
                                        'yyyy-MM-dd' }} TO <i class="icon-material-outline-access-time"></i>{{
                                        item.Until | date: 'yyyy-MM-dd'}} </h4>

                                    <h4 class="icon-material-outline-location-on card-title ">{{item.Industry}} In
                                        {{item.Workplace}}</h4>

                                </div>
                            </div>
                        </div>
                    </ng-template> 
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog class='custom-close-button' [(visible)]="displayModal" [modal]="true" [style]="{height :'38vw',width:'50vw'}"
    [baseZIndex]="10000" [draggable]="true" [resizable]="true" [closable]="false">
    <ng-template pTemplate="header">
        <div class="p-dialog-title">Add Work Experience</div>
    </ng-template>
    <!--  put ur conetent here   -->
    <div class="p-mb-5 mt-5">
        <div class="grid mt-5">
            
            <div class="container">
                <div class="row">
                    <input name="id" hidden [(ngModel)]="newProExperience._id" readonly>
                    <div class="col-md-4 d-flex mt-5">
                            <p-inputSwitch  [(ngModel)]="showPeriodEnd"></p-inputSwitch>
                        <label for="period"> Do you have Current Job ?</label>
                   

                    </div>
                    <div class="col-md-4">

                        <label for="period">Period</label>
                        <input type="date" [ngModel]="newProExperience.Period | date: 'yyyy-MM-dd'"
                            (ngModelChange)="newProExperience.Period= $event" showTime="true" pInputText />

                    </div>
                    <div class="col-md-4" *ngIf="showPeriodEnd">

                        <label for="Until">Until</label>
                        <input type="date" id="Until" [ngModel]="newProExperience.Until | date: 'yyyy-MM-dd'"
                            (ngModelChange)="newProExperience.Until= $event" showTime="true" pInputText />

                    </div>
                    <div class="col-md-6">
                        <label for="JobTitle" class="required">Job Title</label>
                        <input type="text" id="JobTitle" [(ngModel)]="newProExperience.JobTitle" required name="JobTitle" #JobTitle="ngModel" pInputText />
                        <div *ngIf="JobTitle.invalid && JobTitle.touched" class="alert alert-danger">Job Title is required.</div>
                      </div>
                  
                    <div class="col-md-6">
                        <label for="JobType" class="required">Type of Degree</label>
                        <select id="JobType" [(ngModel)]="newProExperience.JobType" required>
                            <option value="">Select a Type</option>
                            <option value="CDI">CDI</option>
                            <option value="CDD">CDD</option>
                            <option value="SVIP">SVIP</option>
                            <option value="Pfe/Internship">Pfe/Internship</option>
                            <option value="Seasonal">Seasonal</option>
                            <option value="Frelancer">Frelancer</option>
                            <option value="Internship">Internship</option>
                            <!-- add more options as needed -->
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="Employer" class="required">Employer</label>
                        <input type="text" id="Employer" [(ngModel)]="newProExperience.Employer" pInputText />
                    </div>
                    <div class="col-md-6">
                        <label for="Workplace">Workplace</label>
                        <select id="Workplace" [(ngModel)]="newProExperience.Workplace">
                            <option value="Tunisia">Tunisia</option>
                            <option value="Canada">Canada</option>
                            <option value="UK">UK</option>
                            <!-- add more options as needed -->
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="Industry">Industry</label>
                        <select id="Industry" [(ngModel)]="newProExperience.Industry">
                            <option value="IT/telecom"> IT / telecom</option>
                            <option value="Import/Export">Import / Export</option>
                            <option value="E-Commerce">E-Commerce</option>
                            <!-- add more options as needed -->
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="CompanySize">Company Size</label>
                        <select id="CompanySize" [(ngModel)]="newProExperience.CompanySize">
                            <option value="less than 20 Employer">less than 20 Employer</option>
                            <option value="Between 20 and 100 Employer"> Between 20 and 100 Employer</option>
                            <option value="Between 100 and 200 Employer">Between 100 and 200 Employer</option>
                            <option value="Between 200 and 500 Employer">Between 200 and 500 Employer</option>
                            <option value="more than 500 Employer"> more than 500 Employer</option>
                            <!-- add more options as needed -->
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="CompanyCategory">Company Category</label>
                        <select id="CompanyCategory" [(ngModel)]="newProExperience.CompanyCategory">
                            <option value="Private"> Private</option>
                            <option value="Public">Public</option>
                            <!-- add more options as needed -->
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="MonthlyNetSalary">Monthly Net salary</label>
                        <select id="MonthlyNetSalary" [(ngModel)]="newProExperience.MonthlyNetSalary">
                            <option value="less than 250 ">less than 250 </option>
                            <option value="Between 250 and 500"> Between 250 and 500 </option>
                            <option value="Between 500 and 1000">Between 500 and 1000 </option>
                            <option value="Between 1000 and 2000">Between 1000 and 2000 </option>
                            <option value="more than 2500 "> more than 2500 </option>
                            <!-- add more options as needed -->
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="TasksAndMissions">TasksAndMissions</label>
                        <textarea id="TasksAndMissions" [(ngModel)]="newProExperience.TasksAndMissions"></textarea>
                    </div>



                </div>

                <!-- Add more rows and columns for the remaining elements as needed -->
            </div>

        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" (click)="closeModal()" label="No"
            class="p-button-outlined p-button-rounded p-button-danger blue-hover"></button>
        <button pButton pRipple icon="pi pi-check"
            (click)="isEditing ? updateProfessionalExperience() :  createProfessionalExperience(); displayModal=false"
            label="Save" class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
    </ng-template>
</p-dialog>
<p-dialog header="Are you sure you want to close this window?" [(visible)]="displayPosition" [modal]="true"
    [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p> Your changes will be lost if you leave without saving.</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" (click)="displayPosition=false" label="No"
            class="p-button-outlined p-button-rounded p-button-danger blue-hover"></button>
        <button pButton pRipple icon="pi pi-check" (click)="closeAllModals()" label="Yes"
            class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>