.card-header {
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #2a41e8;
    color: white;
    border-bottom: 1px solid #2a41e8;
    padding: 0.5rem;
    padding-top: 1.5rem;
  }
  
  .card-body {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    background-color: #f8f9fa;
    color: #333;
  }
  
  p-card {
    margin-bottom: 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  b {
    color: black;
  }
  