<div class="mb-5">
    <div class="container">
        <h1 class="my-4">Add Company Information</h1>
    
        <div class="card-container">
            <form #addCompanyForm="ngForm">
                <div class="row">
                    <div class="col-md-12">
                
                        <div hidden  class="form-group">
                            <input type="text" class="form-control " id="IdUser" name="IdUser" [(ngModel)]="currentProfile.IdUser"
                     >
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <label for="nameE" class="required">Company Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control " id="nameE" name="nameE" [(ngModel)]="currentProfile.nameE"
                                required #nameEField="ngModel">
                            <div class="invalid-feedback alert" *ngIf="nameEField.invalid && nameEField.touched">
                                Please enter a company name.
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="row">
    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="categoryE" class="required">Category</label>
                            <select class="form-control" id="categoryE" name="categoryE"
                                [(ngModel)]="currentProfile.categoryE">
                                <option value="Select a category" selected>Select a category</option>
                                <option value=" Local private company" selected>Local private company</option>
                                <option value="Foregin private company">Foregin private company</option>
                                <option value=" Public Function"> Public Function </option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
    
                        <div class="form-group">
                            <label for="sizeE" class="required">Company Size</label>
                            <select id="sizeE" name="sizeE" [(ngModel)]="currentProfile.sizeE">
                                <option value="less than 20 Employer">less than 20 Employer</option>
                                <option value="Between 20 and 100 Employer"> Between 20 and 100 Employer</option>
                                <option value="Between 100 and 200 Employer">Between 100 and 200 Employer</option>
                                <option value="Between 200 and 500 Employer">Between 200 and 500 Employer</option>
                                <option value="more than 500 Employer"> more than 500 Employer</option>
                                <!-- add more options as needed -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="activitySectorE" class="required">Activity Area</label>
                            <select class="form-control" id="activitySectorE" name="activitySectorE"
                                [(ngModel)]="currentProfile.activitySectorE" required>
                                <option value="Select an Activity Area" selected>Select an Activity Area</option>
                                <option value="technology" selected>Technology</option>
                                <option value="healthcare">Healthcare</option>
                                <option value="finance">Finance</option>
                                <option value="manufacturing">Manufacturing</option>
                                <option value="retail">Retail</option>
                            </select>
                      
                        </div>
                    </div>
    
                </div>
    

                <div class="row">
                    <div class="col-md-4">
                        <div class="p-field-select">
                            <label for="country" class="required">Country</label>
                            <select id="country" name="country" [(ngModel)]="currentProfile.countryE"
                                (change)="onSelectCountry()">
                                <option value="">Select a country</option>
                                <option *ngFor="let country of keys(countries)" [value]="country">{{country}}</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="p-field-select">
                            <label for="region" class="required">Region</label>
                            <ng-container *ngIf="currentProfile.countryE === 'Tunisia'">
                                <select id="region" name="region" [(ngModel)]="currentProfile.regionE">
                                    <option value="">Select a region</option>
                                    <option *ngFor="let region of keys(countries[currentProfile.countryE])" [value]="region">
                                        {{region}}</option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="currentProfile.countryE !== 'Tunisia'">
                                <input id="region" name="region" [(ngModel)]="currentProfile.regionE"
                                    placeholder="Enter region" />
                            </ng-container>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="p-field-select">
                            <label for="city" class="required">City</label>
                     
                            <ng-container *ngIf="currentProfile.countryE === 'Tunisia' && currentProfile.regionE">
                                <select id="city" name="city" [(ngModel)]="currentProfile.villeE">
                                    <option value="">Select a city</option>
                                    <option *ngFor="let city of getCities(currentProfile.countryE, currentProfile.regionE)"
                                        [value]="city">{{city}}</option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="currentProfile.countryE !== 'Tunisia' || !currentProfile.regionE">
                                <input id="city" name="city" [(ngModel)]="currentProfile.villeE" placeholder="Enter city" />
                            </ng-container>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <label for="numtel" class="required">Phone Number</label>
                        <div class="keywords-container">
                            <div class="keyword-input-container" *ngFor="let input of inputs; let i = index">
                                <input type="text" class="keyword-input" placeholder="Phone Number" name="telE"
                                    [ngModel]="input.value" (ngModelChange)="input.value = $event" pInputText />
                                <button class="keyword-input-button ripple-effect" (click)="addInput()" *ngIf="i === 0"><i
                                        class="icon-material-outline-add"></i></button>
                                <button class="keyword-input-button reds" (click)="deleteInput(i)" *ngIf="i > 0"><i
                                        class="icon-material-outline-delete"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="adresse" >Adresse: </label>
                        <input type="text" id="adresse" name="adresse" [(ngModel)]="currentProfile.adresse" pInputText>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <label for="ZIPcodeE" class="required"> Tax registration number</label>
                        <div class="form-group">
    
                            <input type="text" class="form-control " id="ZIPcodeE" name="ZIPcodeE"
                                [(ngModel)]="currentProfile.ZIPcodeE" required #nameEField="ngModel"
                                pTooltip="Please insert the scanned tax number to verify your company"
                                tooltipPosition="top">
                            <div class="invalid-feedback alert" *ngIf="nameEField.invalid && nameEField.touched">
                                Please enter the Tax registration number of your company
                            </div>
                        </div>
    
    
                    </div>
    
                    <div class="col-md-6">
    
                        <label for="linkWebSite" class="required">Link Web Site</label>
                        <div class="form-group">
    
                            <input type="text" class="form-control " id="linkWebSite" name="linkWebSite" [(ngModel)]="currentProfile.linkWebSite"
                                >
                    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="data" class="required">Company Logo</label>
                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                            <img #profilePic class="profile-pic"
                                [src]="(image ? ('data:image/png;base64,' + image.data) : './assets/avatar.png')" alt="" />
                            <div class="upload-button" (click)="onUploadButtonClick()"></div>
                            <input #fileInput class="file-upload" (change)="onFileSelected($event)" id="image" name="data" type="file"
                                accept="image/*" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <label for="descriptionE">Description</label>
                        <textarea type="text" id="descriptionE"  name="descriptionE" [(ngModel)]="currentProfile.descriptionE"></textarea>
                    </div>
                </div>
    
            </form>
            <button type="submit" class="add" (click)="updateProfileEntreprise()" [disabled]="!addCompanyForm.form.valid" >update
                Company</button>
        </div>
    </div>
</div>