<p-toast></p-toast>
<!-- Row -->
<div class="row">
    <!-- Dashboard Box -->
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">
            <!-- Headline -->
            <div class="headline mt-5">
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">


                        <h2><i></i><b>My Professional Data</b></h2>

                    </div>
                    <!-- <div class="p-2 bd-highlight">
                        <button pButton pRipple type="button"
                            class="p-button-rounded p-button-info p-button-outlined icon-line-awesome-pencil"
                            (click)="confirm($event)"> <span>delete</span></button>
                    </div> -->

                    <div class="p-2 bd-highlight">
                        <button pButton pRipple type="button"
                            class="p-button-rounded p-button-info p-button-outlined icon-line-awesome-pencil"
                            (click)="showModalDialogUpdate()" *ngIf="professionaldata; else createButton" #updateButton>
                            <span></span></button>
                    </div>


                    <div class="p-2 bd-highlight">
                        <ng-template #createButton>
                            <button pButton pRipple type="button"
                                class="p-button-rounded p-button-info p-button-outlined icon-line-awesome-plus"
                                (click)="showModalDialogCReate()"><span> </span> </button>
                        </ng-template>
                    </div>


                </div>



                <div class="content padding-bottom-0">
                    <div *ngIf=" !professionaldata; else show">
                        <div class="card">
                            <div class="card-body mt-1">
                                <p-messages [(value)]="messages" [enableService]="false"
                                    [closable]="false"></p-messages>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ng-template #show>
                            <div *ngIf="professionaldata" class="col-md-10">
                                <div class="filed"><b>Professional Title : </b>{{professionaldata.Title}}</div>
                                <div class="filed"><b>Level Of Education : </b> {{ professionaldata.LevelOfEducation}}
                                </div>
                                <div class="filed"><b>Level Of Experience : </b>{{ professionaldata.LevelOfExperience}}
                                </div>
                                <div class="filed"><b>CurrentNetSalary : </b>{{ professionaldata.LevelOfExperience}}
                                </div>
                                <div class="filed"><b>ProfessionalSituation : </b>{{
                                    professionaldata.ProfessionalSituation}}</div>
                                <div class="filed"><b>DesiredMinimumNetSalary : </b> {{
                                    professionaldata.DesiredMinimumNetSalary}}</div>
                                <div class="filed"><b>DesiredMinimumNetSalary : </b> {{
                                    professionaldata.CurrentNetSalary}}</div>
                                <div class="filed"><b>Availability : </b> {{ professionaldata.Availability}}</div>
                                <div class="filed"><b>job category : </b>{{ professionaldata.JobCategorie}}</div>
                                <div class="filed"><b>Types Of Positions : </b> {{ professionaldata.TypesOfPositions}}
                                </div>
                                <div class="filed"><b>DesiredWorkLocations : </b> {{
                                    professionaldata.DesiredWorkLocations}}</div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-dialog class='custom-close-button' [(visible)]="displayModal" [modal]="true"
        [style]="{width: '60vw', 'max-height': '70vh'}" [baseZIndex]="10000" [draggable]="true" [resizable]="true"
        [closable]="false">
        <ng-template pTemplate="header">
            <div class="p-dialog-title">Add Professional Data</div>
        </ng-template>
        <!--  put ur update formsgroup here  conetent here   -->
        <div class="container">
            <div class="container">
                <!-- begin card-->
                <p-card header="Professional Data update">
                    <form [formGroup]="newprofessionalDataForm">
                        <div class="row">
                            <!-- Title -->
                            <div class="col">
                                <label for="Title">Title</label>
                                <input id="Title" type="text" formControlName="Title" pInputText
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('Title')}" />
                                <div *ngIf="isFieldInvalidUpdate('Title')" class="p-error"><span>
                                        Title is required.</span></div>

                            </div>
                        </div>
                        <div class="row justify-content-between pt-5">
                            <!-- Level of Education -->
                            <div class="col-md-4 ">
                                <label for="levelOfEducation">Level of Education</label>
                                <p-dropdown id="levelOfEducation" formControlName="LevelOfEducation"
                                    [options]="educationLevels" optionLabel="name" optionValue="name"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('LevelOfEducation')}"></p-dropdown>
                                <div *ngIf="isFieldInvalidUpdate('LevelOfEducation')" class="p-error"><span>Level
                                        of
                                        Education is required.</span></div>

                            </div>
                            <!-- Level of Experience -->
                            <div class="col-md-4 ">
                                <label for="levelOfExperience">Level of Experience</label>
                                <p-dropdown id="levelOfExperience" formControlName="LevelOfExperience"
                                    [options]="experienceLevels"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('LevelOfExperience')}"
                                    optionLabel="name" optionValue="name"></p-dropdown>
                                <div *ngIf="isFieldInvalidUpdate('LevelOfExperience')" class="p-error"><span>Level
                                        of
                                        Education is required.</span></div>
                            </div>

                            <!-- Availability -->
                            <div class="col-md-4">
                                <label for="availability">Availability</label>
                                <p-dropdown id="availability" formControlName="Availability" [options]="availabilities"
                                    optionLabel="name" optionValue="name"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('Availability')}"></p-dropdown>
                                <div *ngIf="isFieldInvalidUpdate('Availability')" class="p-error">
                                    <span>Availability is required </span>
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-between pt-5">
                            <!-- Professional Situation -->
                            <div class="col-md-4">
                                <label for="professionalSituation">Professional Situation</label>
                                <p-dropdown id="professionalSituation" formControlName="ProfessionalSituation"
                                    [options]="professionalSituations" optionLabel="name" optionValue="name"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('ProfessionalSituation')}"></p-dropdown>
                                <div *ngIf="isFieldInvalidUpdate('ProfessionalSituation')" class="p-error">
                                    <span>ProfessionalSituation is required </span>
                                </div>
                            </div>
                            <!-- Current Net Salary -->
                            <div class="col-md-4">
                                <label for="currentNetSalary">Current Net Salary</label>
                                <p-inputNumber formControlName="CurrentNetSalary" [showButtons]="true"
                                    buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                                    [step]="100.000" decrementButtonClass="p-button-info"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('currentNetSalary')}"
                                    incrementButtonClass="p-button-info" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus" [min]="420" mode="currency" currency="TND">
                                </p-inputNumber>
                                <div *ngIf="isFieldInvalidUpdate('CurrentNetSalary')" class="p-error">
                                    <span>CurrentNetSalary is required </span>
                                </div>


                            </div>

                            <!-- Desired Minimum Net Salary -->
                            <div class="col-md-4">
                                <label for="DesiredMinimumNetSalary">Desired Minimum Net Salary</label>
                                <p-inputNumber formControlName="DesiredMinimumNetSalary" [showButtons]="true"
                                    buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                                    [step]="100.000" decrementButtonClass="p-button-info"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('DesiredMinimumNetSalary')}"
                                    incrementButtonClass="p-button-info" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus" [min]="420" mode="currency" currency="TND">
                                </p-inputNumber>
                                <div *ngIf="isFieldInvalidUpdate('DesiredMinimumNetSalary')" class="p-error">
                                    <span>DesiredMinimumNetSalary is required </span>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-between pt-5">
                            <div class="col-md-4">
                                <label>JobCategorie groups</label>
                                <p-multiSelect formControlName="JobCategorie" width=" 70"[options]="JobCategorie" [group]="true"
                                  defaultLabel="Select a JobCategorie" scrollHeight="250px" display="chip"
                                  [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('JobCategorie')}">
                                  <ng-template let-group pTemplate="group">
                                    <div class="flex align-items-center">
                                      <span>{{group.label}}</span>
                                    </div>
                                  </ng-template>
                                  <ng-template let-item pTemplate="item">
                                    <div class="flex align-items-center">
                                      <span>{{item.label}}</span>
                                    </div>
                                  </ng-template>
                                </p-multiSelect>
                                <div *ngIf="isFieldInvalidUpdate('JobCategorie')" class="p-error">
                                  <span>JobCategorie is required </span>
                                </div>
                              </div>
                              
                              
                            <!-- Types of Positions -->
                            <div class="col-md-4">
                                <label for="typesOfPositions">Types of Positions</label>
                                <p-dropdown id="typesOfPositions" formControlName="TypesOfPositions"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('TypesOfPositions')}"
                                    [options]="typesOfPositions" optionLabel="name" optionValue="name"> </p-dropdown>
                                <div *ngIf="isFieldInvalidUpdate('TypesOfPositions')" class="p-error">
                                    <span>TypesOfPositions is required </span>
                                </div>
                            </div>
                            <!-- Desired Work Locations -->
                            <div class="col-md-4">
                                <div>
                                    <label>desired Work Locations groups</label>
                                    <p-multiSelect formControlName="DesiredWorkLocations"
                                        [options]="desiredWorkLocations" [group]="true"
                                        defaultLabel="Select a DesiredWorkLocations" scrollHeight="250px" display="chip"
                                        [ngClass]="{'ng-invalid ng-dirty': isFieldInvalidUpdate('DesiredWorkLocations')}">
                                        <ng-template let-group pTemplate="group">
                                            <div class="flex align-items-center">
                                                <span>{{group.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                    <div *ngIf="isFieldInvalidUpdate('DesiredWorkLocations')" class="p-error">
                                        <span>DesiredWorkLocations is required </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-card>
                <!--end of card -->
            </div>
        </div>

        <!--  put ur conetent here   -->


        <!--end of card -->

        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" (click)="closeModal()" label="No"
                class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
            <button pButton pRipple icon="pi pi-check" (click)="onSubmitUpdate()" label="Save"
                class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
        </ng-template>
    </p-dialog>
    <p-dialog header="Are you sure you want to close this window?" [(visible)]="displayPosition" [modal]="true"
        [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <p> Your changes will be lost if you leave without saving.</p>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" (click)="displayPosition=false" label="No"
                class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
            <button pButton pRipple icon="pi pi-check" (click)="closeAllModals()" label="Yes"
                class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
        </ng-template>
    </p-dialog>
    <!-- crate new dialoge for post request ? -->
    <p-dialog class='custom-close-button' [(visible)]="displayModalcreate" [modal]="true"
        [style]="{width: '60vw', 'max-height': '70vh'}" [baseZIndex]="10000" [draggable]="true" [resizable]="true"
        [closable]="false">

        <!--  put ur conetent here   -->
        <div class="container">
            <div class="container">
                <!-- begin card-->
                <p-card header="Professional Data">
                    <form [formGroup]="professionalDataForm">
                        <div class="row">
                            <!-- Title -->
                            <div class="col">
                                <label for="Title">Title</label>
                                <input id="Title" type="text" formControlName="Title" pInputText
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('Title')}" />
                                <div *ngIf="isFieldInvalid('Title')" class="p-error"><span>
                                        Title is required.</span></div>

                            </div>
                        </div>
                        <div class="row justify-content-between pt-5">
                            <!-- Level of Education -->
                            <div class="col-md-4 ">
                                <label for="levelOfEducation">Level of Education</label>
                                <p-dropdown id="levelOfEducation" formControlName="LevelOfEducation"
                                    [options]="educationLevels" optionLabel="name" optionValue="name"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('LevelOfEducation')}"></p-dropdown>
                                <div *ngIf="isFieldInvalid('LevelOfEducation')" class="p-error"><span>Level
                                        of
                                        Education is required.</span></div>

                            </div>
                            <!-- Level of Experience -->
                            <div class="col-md-4 ">
                                <label for="levelOfExperience">Level of Experience</label>
                                <p-dropdown id="levelOfExperience" formControlName="LevelOfExperience"
                                    [options]="experienceLevels"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('LevelOfExperience')}"
                                    optionLabel="name" optionValue="name"></p-dropdown>
                                <div *ngIf="isFieldInvalid('LevelOfExperience')" class="p-error"><span>Level
                                        of
                                        Education is required.</span></div>
                            </div>

                            <!-- Availability -->
                            <div class="col-md-4">
                                <label for="availability">Availability</label>
                                <p-dropdown id="availability" formControlName="Availability" [options]="availabilities"
                                    optionLabel="name" optionValue="name"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('Availability')}"></p-dropdown>
                                <div *ngIf="isFieldInvalid('Availability')" class="p-error">
                                    <span>Availability is required </span>
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-between pt-5">
                            <!-- Professional Situation -->
                            <div class="col-md-4">
                                <label for="professionalSituation">Professional Situation</label>
                                <p-dropdown id="professionalSituation" formControlName="ProfessionalSituation"
                                    [options]="professionalSituations" optionLabel="name" optionValue="name"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('ProfessionalSituation')}"></p-dropdown>
                                <div *ngIf="isFieldInvalid('ProfessionalSituation')" class="p-error">
                                    <span>ProfessionalSituation is required </span>
                                </div>
                            </div>
                            <!-- Current Net Salary -->
                            <div class="col-md-4">
                                <label for="currentNetSalary">Current Net Salary</label>
                                <p-inputNumber formControlName="CurrentNetSalary" [showButtons]="true"
                                    buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                                    [step]="100.000" decrementButtonClass="p-button-info"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('currentNetSalary')}"
                                    incrementButtonClass="p-button-info" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus" [min]="420" mode="currency" currency="TND">
                                </p-inputNumber>
                                <div *ngIf="isFieldInvalid('CurrentNetSalary')" class="p-error">
                                    <span>CurrentNetSalary is required </span>
                                </div>


                            </div>

                            <!-- Desired Minimum Net Salary -->
                            <div class="col-md-4">
                                <label for="DesiredMinimumNetSalary">Desired Minimum Net Salary</label>
                                <p-inputNumber formControlName="DesiredMinimumNetSalary" [showButtons]="true"
                                    buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                                    [step]="100.000" decrementButtonClass="p-button-info"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('DesiredMinimumNetSalary')}"
                                    incrementButtonClass="p-button-info" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus" [min]="420" mode="currency" currency="TND">
                                </p-inputNumber>
                                <div *ngIf="isFieldInvalid('DesiredMinimumNetSalary')" class="p-error">
                                    <span>DesiredMinimumNetSalary is required </span>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-between pt-5">
                            <div class="col-md-4">
                                <label>JobCategorie groups</label>
                                <p-multiSelect formControlName="JobCategorie" [options]="JobCategorie" [group]="true"
                                    defaultLabel="Select a JobCategorie" scrollHeight="250px" display="chip"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('JobCategorie')}">
                                    <ng-template let-group pTemplate="group">
                                        <div class="flex align-items-center">
                                            <span>{{group.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                                <div *ngIf="isFieldInvalid('JobCategorie')" class="p-error">
                                    <span>JobCategorie is required </span>
                                </div>
                            </div>
                            <!-- Types of Positions -->
                            <div class="col-md-4">
                                <label for="typesOfPositions">Types of Positions</label>
                                <p-dropdown id="typesOfPositions" formControlName="TypesOfPositions"
                                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('TypesOfPositions')}"
                                    [options]="typesOfPositions" optionLabel="name" optionValue="name"> </p-dropdown>
                                <div *ngIf="isFieldInvalid('TypesOfPositions')" class="p-error">
                                    <span>TypesOfPositions is required </span>
                                </div>
                            </div>
                            <!-- Desired Work Locations -->
                            <div class="col-md-4">
                                <div>
                                    <label>desired Work Locations groups</label>
                                    <p-multiSelect formControlName="DesiredWorkLocations"
                                        [options]="desiredWorkLocations" [group]="true"
                                        defaultLabel="Select a DesiredWorkLocations" scrollHeight="250px" display="chip"
                                        [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('DesiredWorkLocations')}">
                                        <ng-template let-group pTemplate="group">
                                            <div class="flex align-items-center">
                                                <span>{{group.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                    <div *ngIf="isFieldInvalid('DesiredWorkLocations')" class="p-error">
                                        <span>DesiredWorkLocations is required </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-card>
                <!--end of card -->
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" (click)="closeModal()" label="No"
                class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
            <button pButton pRipple icon="pi pi-check" (click)="onSubmit()" label="Save"
                class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
        </ng-template>
    </p-dialog>

    <!-- <p-confirmPopup></p-confirmPopup> -->